@{
    ViewData["Title"] = "WaiterView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Kitchen.css">
</head>
<body>

<h1>WaiterView</h1>

<form action="/action_page.php">
    <label for="RoomNr">Room number:</label>
    <input type="number" id="RoomNr" name="Ro" placeholder="0" min="0" ><br><br>
    <label for="Adults">Adults:</label>
    <input type="number" id="adults" name="Ad" placeholder="0" min="0"><br><br>
    <label for="Kids">Kids:</label>
    <input type="number" id="kids" name="Ki" placeholder="0" min="0"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>