@model Hotel_California.Models.Room;


@{
    ViewData["Title"] = "WaiterView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Kitchen.css">
</head>
<body>

    <h1>WaiterView</h1>


<form action="/action_page.php">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label for="RoomNr">Room number:</label>
        <input asp-for="RoomNr" /><br /><br />
    </div>
    <div>
        <label for="Adults">Adults:</label>
        <input asp-for="Guest.Count" /><br /><br />
    </div>
    <div>
        <label for="Kids">Kids:</label>
        <input asp-for="Guest.Count" /><br /><br />
    </div>
    <input type="submit" value="Submit">
</form>

</body>
</html>